/*  IMPORTES */
@import url("variaveis.css");



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-left: 8vw;
    padding-right: 8vw;
    border-bottom: 3px solid var(--cor-verde-vyva);
    background-color: var(--cor-preto-vyva);
}
header img{
    height: 40px;
    align-self: center;
}
.menu-hamburguer{
    display: none;
}
nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li a:hover{
    color: var(--cor-verde-vyva);
}
nav button{
    background-color: transparent;
    border: transparent;
}
nav button a{
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    color: var(--cor-preto-vyva);
    background-color: var(--cor-verde-vyva);
}


/*      MENOR QUE 800       */
@media(max-width: 800px){
    .menu-hamburguer{
        display: block;
        cursor: pointer;
    }
    nav{
        display: none;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        top: 60px;
        right: 8vw;
        padding: 20px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: var(--cor-preto-vyva);
    }
    nav.active{
        display: flex;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }
}