/*  IMPORTES */
@import url("variaveis.css");


h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25vw;
}

label{
    padding-top: 30px;
}

input{
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid var(--cor-cinza-vyva);
    color: white;
    background-color: transparent;
}
input:focus{
    outline: none;
    border-bottom: 1px solid var(--cor-verde-vyva);
}

form div{
    display: flex;
    flex-direction: column;
    position: relative;
}
form div img{
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px; 
}

form button{
    width: 80%;
    margin-top: 30px;
    padding: 8px;
    align-self: center;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: var(--cor-verde-vyva);
}

form p{
    margin-top: 30px;
    text-align: center;
}
.txt-link{
    color: var(--cor-verde-vyva);
}



/*      MENOR QUE 800       */
@media(max-width: 800px){
    form{
        width: 30vw;
    }
}