/*  IMPORTES */
@import url("variaveis.css");



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: auto;
    border-top: 3px solid var(--cor-verde-vyva);
    color: var(--cor-cinza-vyva);
    background-color: var(--cor-preto-vyva);
}